
body {
  background: url("https://r4.wallpaperflare.com/wallpaper/517/212/894/abstract-computer-dark-pattern-wallpaper-48262d3840c0cc58d09cd17ee8d2a45a.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
  the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #464646;

  backdrop-filter: blur(10px);

  /* height: 100vh;
  width: 100%; */
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-color: rgba(50, 20, 51, 0.397);
}

.navbar {
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  .ul-bg {
    background-color: coral;
  }
}

nav .nav-item a:hover {
  color: chartreuse !important;
}

#home {
    color: rgb(61, 33, 216) !important;
  }









